{% extends "empty_page.html" %}

{% block content %}

<div class="container">
    {% if active_user %}
    <h2>Active User: {{ active_user.name }} {{ active_user.firstname }}</h2>

    <table class="table">
        <tr>
            <th>Email</th>
            <th>Name</th>
            <th>First Name</th>
        </tr>
        <tr>
            <td>{{ active_user.email }}</td>
            <td>{{ active_user.name }}</td>
            <td>{{ active_user.firstname }}</td>
        </tr>
    </table>
    {% endif %}

    <h2>Change Password</h2>
    <form action="/users/change/password" method="post">

        <div class="form-group">
            <label for="old_password">Current Password</label>
            <input type="password" class="form-control" id="old_password" name="old_password" placeholder="Current password" />
        </div>

        <div class="form-group">
            <label for="new_password">New Password</label>
            <input type="password" class="form-control" id="new_password" name="new_password" placeholder="New password" />
        </div>

        <div class="form-group">
            <label for="check_password">Confirm New Password</label>
            <input type="password" class="form-control" id="check_password" name="check_password" placeholder="Confirm new password" />
        </div>

        <button type="submit" class="btn btn-success my-4">Change Password</button>

    </form>

    <h2>Change User Information</h2>
    <form action="/users/change/information" method="post">

        <div class="form-group">
            <label for="new_email">New Email</label>
            <input type="text" class="form-control" id="new_email" name="new_email" placeholder="New email" />
        </div>

        <div class="form-group">
            <label for="new_name">New Name</label>
            <input type="text" class="form-control" id="new_name" name="new_name" placeholder="New name" />
        </div>

        <div class="form-group">
            <label for="new_firstname">New First Name</label>
            <input type="text" class="form-control" id="new_firstname" name="new_firstname" placeholder="New first name" />
        </div>

        <button type="submit" class="btn btn-success my-4">Change Information</button>

    </form>
</div>

<div>
    <a class="btn btn-outline-success mx-4" href="/books/all">Back</a>
    <a class="btn btn-outline-success mx-4" href="/users/logout">Log Out</a>
</div>

{% endblock %}
