<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Réservation</title>
<style>
    table { border-spacing: 10px; }
    td,th { width: 75px; padding: 5px 5px;
    background-color: lightgray;
    text-align: center;
    empty-cells: hide;
    }
    .hours { width: 100px }
    th { width: 120px; padding: 5px; }
    td { text-align: center; background-color: lightpink; }
</style>
    
</head>
<body>

<h2>Choose a time</h2>

<table>
    <tr>
    <th class="hours"></th> <th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th>
    </tr>
    <tr>
        <th>14:00 - 16:00</th>
        <td>A</td>
        <td>B</td>
        <td>D</td>
        <td>B</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>16:00 - 18:00</th>
        <td>C</td>
        <td>E</td>
        <td>C</td>
        <td>D</td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>18:00 - 20:00</th>
        <td>B</td>
        <td>D</td>
        <td></td>
        <td>A</td>
        <td>E</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>20:00 - 22:00</th>
        <td>C</td>
        <td>E</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>

</body>
</html>
