@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    min-height: 100vh;
    background-image: url('/static/images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #333;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 10%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 100;
}
header .header-bloc nav a:hover {
    color: #f7a800; /* Changement de couleur du texte */
}

header .header-bloc nav a:hover::after {
    width: 100%; /* Ajout d'une ligne jaune en dessous */
}


.menu {
    display: flex;
    align-items: center;
}

.menu ul {
    margin-left: 25px;
    display: flex;
    list-style: none;
}

.menu ul li {
    margin-left: 10px;
}

.menu ul li a {
    text-transform: capitalize;
    font-size: 13px;
    color: #000;
    text-decoration: none;
    position: relative;
}
.menu ul li a:hover {
    color: #f7a800; /* Changement de couleur du texte */
}

.menu ul li a::after {
    position: absolute;
    left: 0;
    bottom: -5px;
    content: "";
    width: 0;
    height: 2px;
    background-color: #f7a800;
    transition: width 0.2s ease-out;
}

.menu ul li a:hover::after {
    width: 100%;
}

button {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 0;
    padding: 8px 15px;
    background-color: #bb2337;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    z-index: 1;
    transition: background-color 0.2s ease-out, transform 0.2s ease-out;
    position: relative;
}

button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #f7a800;
    transition: width 0.2s ease-out;
}

button:hover::after {
    width: 100%;
}

button:hover {
    background-color: #f7a800;
    transform: scale(1.06);
}

button span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    text-align: center;
}

.home {
    margin-top: 80px;
    background: url('/static/images/background.png') center/cover no-repeat;
    width: 100%;
    height: calc(100vh - 200px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 20px;
}

.foods {
    margin: 50px 0;
    padding: 0 10%;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

.foods p {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.foods-list {
    display: flex;
    justify-content: space-between;
}

.foods-list img {
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.1);
    width: 350px;
    border-radius: 10px;
    margin-bottom: 20px;
}

a {
    margin-left: 10px;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

footer {
    background-color: rgba(128, 128, 128, 0.5);
    padding: 20px;
    color: white;
    text-align: center;
    margin-top: auto;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}

.bloc {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.btn {
    background-color: #5e5e5e;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 10px;
    display: inline-block;
    text-align: center;
    border: none;
    cursor: pointer;
    position: relative;
    transition: background-color 0.2s ease-out;
}

.btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background-color: #f7a800;
    transition: width 0.2s ease-out;
}

.btn:hover::after {
    width: 100%;
}

.btn:hover {
    background-color: #f7a800;
    color: #fff;
}
