{% extends "empty_page.html" %}
{% from "my_macro.html" import show_menu %}

{% block title %}
<title>Le coin de Namur -- Menu</title>
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Menu du Restaurant</title>
</head>
<body>

<header>
    <div class="menu">
        <img src="/images/menu.png" class="menu_icons">
        <ul>
            <li><a href="#">menu</a></li>
            <li><a href="#">Book a Table</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div class="header-end">
        <i class="fa-solid fa-location-dot"></i>
        <i class="fa-solid fa-crown"></i>
        <div class="login">
            <button><span>Se connecter</span></button>
            <hr>
            <p>Nouveau client?</p>
            <button><span>rejoignez nous</span></button>
        </div>
    </div>
    <a href="ClickCollect.html"><button><span>Click & collect</span></button></a>
</header>

<div class="foods">
    <h1>Notre Menu</h1>
    <h2> Entrées </h2>
    <div class="food-item">
        <img src="images/brochettes_boeuf.webp" alt="Brochettes de boeuf">
        <h2>Brochettes de boeuf grillé</h2>
        <p>Boeuf belge grillé, sauce béarnaise, frites cuites à la graisse de boeuf, salade <br> Prix: 15,00€</p>
    </div>
    <div class="food-item">
        <img src="images/brochettes_scampis.avif" alt="Brochettes de scampis">
        <h2>Brochettes de scampis grillés</h2>
        <p>Scampis grillés, sauce tartare <br> Prix: 11,00€</p>
    </div>
    <div class="foods-list">
        <div class="food-item">
            <img src="images/croquettes_crevettes_grises.jpeg" alt="Croquettes de crevettes grises">
            <h3>Croquettes de crevettes grises</h3>
            <p>Croquettes de crevettes grises de la mer du Nord <br> Prix: 8,50€</p>
        </div>
        <div class="food-item">
            <img src="images/planche_aperitive.jpeg" alt="Planche apéritive">
            <h3>Planche apéritive</h3>
            <p>Assortiment de charcuteries et de fromages locaux <br> Prix: 10,00€</p>
        </div>
        <div class="food-item">
            <img src="images/salade_cesar.jpeg" alt="Salade César">
            <h2>Salade César</h2>
            <p>Poulet grillé, salade iceberg, croûtons, parmesan, sauce César, bacon <br> Prix: 10,00€</p>
        </div>
        <div class="food-item">
            <img src="images/salade_nordique.jpeg" alt="Salade nordique">
            <h2>Salade nordique</h2>
            <p>Salade nordique au saumon fumé <br> Prix: 11,50€</p>
        </div>
        <div class="food-item">
            <img src="images/tomates_crevettes_grises.jpeg" alt="Tomates-crevettes grises">
            <h2>Tomates-crevettes</h2>
            <p>Tomates-crevettes aux crevettes grises de la Mer du Nord <br> Prix: 12,00€</p>
        </div>
    </div>
    <h2>Plats</h2>
    <div class = "foods-list"> 
        <div class="food-item">
            <img src="images/boulettes_sauce_liegeoise.jpeg" alt="Boulettes sauce liégeoise">
            <h2>Boulettes sauce liégeoise</h2>
            <p>Boulets liégeois traditionnels accompagnés de frites cuites à la graisse de boeuf et de salade <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <img src="images/boulettes_sauce_tomate.jpeg" alt="Boulettes sauce tomate">
            <h2>Boulettes sauce tomate</h2>
            <p>Boulettes sauce tomate accompagnées de frites cuisses à la graisse de boeuf et de salade <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <img src="images/burger.jpeg" alt="Burger maison">
            <h2>Burger maison</h2>
            <p>Bun boulanger, steak haché de boeuf de provenance locale, cheddar, bacon fumé, crudités, sauce maison ; accompagné de frites et de salade <br> Prix: 14,00€</p>
        </div>
        <div class="food-item">
            <img src="images/cabillaud.webp" alt="Cabillaud">
            <h2>Dos de cabillaud, légumes de saison</h2>
            <p>Dos de cabillaud accompagné de légumes de saison <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <img src="images/carbonnade.jpeg" alt="Carbonnade">
            <h2>Carbonnade</h2>
            <p>Carbonnade de boeuf traditionnelle accompagnée de frites <br> Prix: 19,00€</p>
        </div>
        <div class="food-item">
            <img src="images/moules.jpeg" alt="Moules">
            <h2>Moules</h2>
            <p>Casserole de moules d'origine belge <br> Prix: 23,00€</p>
        </div>
        <div class="food-item">
            <img src="images/saumon.jpeg" alt="Saumon">
            <h2>Pavé de saumon</h2>
            <p>Pavé de saumon, haricots et sauce béarnaise <br> Prix: 12,00€</p>
        </div>
        <div class="food-item">
            <img src="images/spaghettis_bolo.jpeg" alt="Spaghettis bolognaise">
            <h2>Spaghettis bolognaise</h2>
            <p> Pâtes bolognaise traditionnelles <br> Prix: 13,50€</p>
        </div>
        <div class="food-item">
            <img src="images/spaghettis_carbonara.jpeg" alt="Boulettes sauce liégeoise">
            <h2>Boulettes sauce liégeoise</h2>
            <p>Spaghettis, fromage, lardons <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <img src="images/steak_frites_salade.jpeg" alt="Steak-frites-salade">
            <h2>Steak, frites, salade</h2>
            <p>Steak de boeuf au beurre maître d'hôtel, frites cuites à la graisse de boeuf et salade <br> Prix: 16,50€</p>
        </div>
        <div class="food-item">
            <img src="images/tartare_boeuf.jpeg" alt="Tartare">
            <h2>Tartare de boeuf belge</h2>
            <p>Tartare de boeuf belge traditionnel, frites cuites à la graisse de boeuf, salade <br> Prix: 13,00€</p>
        </div>
        <div class="food-item">
            <img src="images/vol_au_vent.jpeg" alt="Vol-au-vent">
            <h2>Vol-au-vent</h2>
            <p>Vol-au-vent traditionnel, bouchées à la reine et frites cuites à la graisse de boeuf <br> Prix: 15,50€</p>
        </div>
        <div class="food-item">
            <img src="images/waterzooi.jpeg" alt="Waterzooi">
            <h2>Waterzooi</h2>
            <p>Waterzooi de poulet fermier <br> Prix: 19,00€</p>
        </div>
    </div>
    <h2>Accompagnements (supplément)</h2>
    <div class=""foods-list>
        <div class="food-item">
            <img src="images/frites.jpeg" alt="Frites">
            <h2>Portion de frites</h2>
            <p>Frites cuites à la graisse de boeuf <br> Prix: 2,50€</p>
        </div>
        <div class="food-item">
            <img src="images/pain.jpeg" alt="Pain">
            <h2>Pain</h2>
            <p>Pain artisanal <br> Prix: 1,50€</p>
        </div>
        <div class="food-item">
            <img src="images/salade_mixte.webp" alt="Salade mixte">
            <h2>Salade mixte</h2>
            <p>Salade mixte à base de crudités <br> Prix: 2,00€</p>
        </div>
    </div>
    <h2> Desserts </h2>
    <div class="foods-list">
        <div class="food-item">
            <img src="images/cafe_gourmand.jpg" alt="Café cafe_gourmand">
            <h2>Café gourmand</h2>
            <p>Café au choix accompagné de divers minis-desserts <br> Prix: 6,50€</p>
        </div>
        <div class="food-item">
            <img src="images/coulant_chocolat.webp" alt="Coulant chocolat">
            <h2>Coulant au chocolat</h2>
            <p>Coulant au chocolat belge, glace vanille, chantilly <br> Prix: 9,00€</p>
        </div>
        <div class="food-item">
            <img src="images/gaufre_bruxelles.jpeg" alt="Gaufre de Bruxelles">
            <h2>Gaufre de Bruxelles</h2>
            <p>Gaufre de Bruxelles traditionnelles, topping au choix (sucre, chocolat, ...) <br> Prix: 5,00€</p>
        </div>
        <div class="food-item">
            <img src="images/gaufre_liege.webp" alt="Gaufre de Liège">
            <h2>Gaufre de Liège</h2>
            <p>Gaufre de Liège traditionnelle <br> Prix: 4,00€</p>
        </div>
        <div class="food-item">
            <img src="images/mousse_chocolat.jpeg" alt="Mousse au chocolat">
            <h3>Mousse au chocolat</h3>
            <p>Mousse au chocolat belge <br> Prix: 7,00€</p>
        </div>
        <div class="food-item">
            <img src="images/creme_brulee.webp" alt="Crème brûlée">
            <h2>Crème brûlée/h2>
            <p>Crème brûlée à la vanille <br> Prix: 7,50€</p>
        </div>
        <div class="food-item">
            <img src="images/tiramisu.jpeg" alt="Tiramisu">
            <h3>Tiramisu</h3>
            <p> Tiramisu traditionnel au café ou tiramisu aux spéculoos <br> Prix: 7,00€</p>
        </div>
</div>


{% if active_user.role == "admin" %}
    <a class="btn" href="/menu/add/dish">Add a new Dish</a>
    <a class="btn" href="/menu/remove/dish">Remove a Dish from the Menu</a>
    <a class="btn" href="/menu/edit/dish">Edit a Dish from the Menu</a>
{% endif %}


{% endblock %}