{% extends "empty_page.html" %}
{% from "my_macro.html" import show_menu %}

{% block title %}
<title>Le coin de Namur -- Menu</title>
{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Menu du Restaurant</title>
</head>
<body>

<header>
    <div class="menu">
        <ul>
            <li><a href="#">menu</a></li>
            <li><a href="#">Book a Table</a></li>
            <li><a href="#">Order</a></li>
            <li><a href="#">Login</a></li>
        </ul>
    </div>
    <div class="header-end">
        <i class="fa-solid fa-location-dot"></i>
        <i class="fa-solid fa-crown"></i>
        <div class="login">
            <button><span>Se connecter</span></button>
            <hr>
            <p>Nouveau client?</p>
            <button><span>rejoignez nous</span></button>
        </div>
    </div>
    <a href="ClickCollect.html"><button><span>Click & collect</span></button></a>
</header>

<div class="foods">
    <h1>Notre Menu</h1>
    <h2> Entrées </h2>
    <div class="food-item">
        <h3>Brochettes de boeuf grillé</h3>
        <p>Boeuf belge grillé, sauce béarnaise, frites cuites à la graisse de boeuf, salade <br> Prix: 15,00€</p>
    </div>
    <div class="food-item">
        <h3>Brochettes de scampis grillés</h3>
        <p>Scampis grillés, sauce tartare <br> Prix: 11,00€</p>
    </div>
    <div class="foods-list">
        <div class="food-item">
            <h3>Croquettes de crevettes grises</h3>
            <p>Croquettes de crevettes grises de la mer du Nord <br> Prix: 8,50€</p>
        </div>
        <div class="food-item">
            <h3>Planche apéritive</h3>
            <p>Assortiment de charcuteries et de fromages locaux <br> Prix: 10,00€</p>
        </div>
        <div class="food-item">
            <h3>Salade César</h3>
            <p>Poulet grillé, salade iceberg, croûtons, parmesan, sauce César, bacon <br> Prix: 10,00€</p>
        </div>
        <div class="food-item">
            <h3>Salade nordique</h3>
            <p>Salade nordique au saumon fumé <br> Prix: 11,50€</p>
        </div>
        <div class="food-item">
            <h3>Tomates-crevettes</h3>
            <p>Tomates-crevettes aux crevettes grises de la Mer du Nord <br> Prix: 12,00€</p>
        </div>
    </div>
    <h2>Plats</h2>
    <div class = "foods-list"> 
        <div class="food-item">
            <h3>Boulettes sauce liégeoise</h3>
            <p>Boulets liégeois traditionnels accompagnés de frites cuites à la graisse de boeuf et de salade <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <h3>Boulettes sauce tomate</h3>
            <p>Boulettes sauce tomate accompagnées de frites cuisses à la graisse de boeuf et de salade <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <h3>Burger du chef</h3>
            <p>Bun boulanger, steak haché de boeuf de provenance locale, cheddar, bacon fumé, crudités, sauce maison ; accompagné de frites et de salade <br> Prix: 14,00€</p>
        </div>
        <div class="food-item">
            <h3>Dos de cabillaud, légumes de saison</h3>
            <p>Dos de cabillaud accompagné de légumes de saison <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <h3>Carbonnade</h3>
            <p>Carbonnade de boeuf traditionnelle accompagnée de frites <br> Prix: 19,00€</p>
        </div>
        <div class="food-item">
            <h3>Moules</h3>
            <p>Casserole de moules d'origine belge <br> Prix: 23,00€</p>
        </div>
        <div class="food-item">
            <h3>Pavé de saumon</h3>
            <p>Pavé de saumon, haricots et sauce béarnaise <br> Prix: 12,00€</p>
        </div>
        <div class="food-item">
            <h3>Spaghettis bolognaise</h3>
            <p> Pâtes bolognaise traditionnelles <br> Prix: 13,50€</p>
        </div>
        <div class="food-item">
            <h3>Boulettes sauce liégeoise</h3>
            <p>Spaghettis, fromage, lardons <br> Prix: 18,00€</p>
        </div>
        <div class="food-item">
            <h3>Steak, frites, salade</h3>
            <p>Steak de boeuf au beurre maître d'hôtel, frites cuites à la graisse de boeuf et salade <br> Prix: 16,50€</p>
        </div>
        <div class="food-item">
            <h3>Tartare de boeuf belge</h3>
            <p>Tartare de boeuf belge traditionnel, frites cuites à la graisse de boeuf, salade <br> Prix: 13,00€</p>
        </div>
        <div class="food-item">
            <h3>Vol-au-vent</h3>
            <p>Vol-au-vent traditionnel, bouchées à la reine et frites cuites à la graisse de boeuf <br> Prix: 15,50€</p>
        </div>
        <div class="food-item">
            <h3>Waterzooi</h3>
            <p>Waterzooi de poulet fermier <br> Prix: 19,00€</p>
        </div>
    </div>
    <h2>Accompagnements (supplément)</h2>
    <div class=""foods-list>
        <div class="food-item">
            <h3>Portion de frites</h3>
            <p>Frites cuites à la graisse de boeuf <br> Prix: 2,50€</p>
        </div>
        <div class="food-item">
            <h3>Pain</h3>
            <p>Pain artisanal <br> Prix: 1,50€</p>
        </div>
        <div class="food-item">
            <h3>Salade mixte</h3>
            <p>Salade mixte à base de crudités <br> Prix: 2,00€</p>
        </div>
    </div>
    <h2> Desserts </h2>
    <div class="foods-list">
        <div class="food-item">
            <h3>Café gourmand</h3>
            <p>Café au choix accompagné de divers minis-desserts <br> Prix: 6,50€</p>
        </div>
        <div class="food-item">
            <h3>Coulant au chocolat</h3>
            <p>Coulant au chocolat belge, glace vanille, chantilly <br> Prix: 9,00€</p>
        </div>
        <div class="food-item">
            <h3>Crème brûlée</h3>
            <p>Crème brûlée à la vanille <br> Prix: 7,50€</p>
        </div>
        <div class="food-item">
            <h3>Gaufre de Bruxelles</h3>
            <p>Gaufre de Bruxelles traditionnelles, topping au choix (sucre, chocolat, ...) <br> Prix: 5,00€</p>
        </div>
        <div class="food-item">
            <h3>Gaufre de Liège</h3>
            <p>Gaufre de Liège traditionnelle <br> Prix: 4,00€</p>
        </div>
        <div class="food-item">
            <h3>Mousse au chocolat</h3>
            <p>Mousse au chocolat belge <br> Prix: 7,00€</p>
        </div>
        <div class="food-item">
            <h3>Tiramisu</h3>
            <p> Tiramisu traditionnel au café ou tiramisu aux spéculoos <br> Prix: 7,00€</p>
        </div>
</div>


{% if active_user.role == "admin" %}
    <a class="btn" href="/menu/add/dish">Add a new Dish</a>
    <a class="btn" href="/menu/remove/dish">Remove a Dish from the Menu</a>
    <a class="btn" href="/menu/edit/dish">Edit a Dish from the Menu</a>
{% endif %}


{% endblock %}