{% extends "empty_page.html" %}

{% block title %}
<title>Le coin de Namur -- New User</title>
{% endblock %}

{% block content %}
<h2>Enter your information to create an account!</h2>

<form action="/users/login" method="post">
    <div>
        <label for="users_firstname">Email</label>
        <input type="text" id="users_firstname" name="firstname" placeholder="firstname"/>
    </div>

    <div>
        <label for="users_name">Email</label>
        <input type="text" id="users_name" name="name" placeholder="firstname"/>
    </div>

    <div>
        <label for="users_email">Email</label>
        <input type="text" id="users_email" name="email" placeholder="yourname@email.com"/>
    </div>

    <div>
        <label for="users_password">Email</label>
        <input type="password" id="users_password" name="password" placeholder="123456789"/>
    </div>

    <button type="submit">Create Account</button>
</form>
{% endblock %}